<template>
  <div class="mtlg_header">
    <div class="mtlg_heading"><h1>{{ $t("main.welcome", { company: "MTLG Development Team" }) }}</h1></div>
  </div>
</template>

<script lang="ts">
import { Vue } from "vue-property-decorator";

export default class Home extends Vue {}
</script>
