<template>
  <div class="column col-6 col-mx-auto">
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Login</h1></div>
    </div>

    <form @submit.prevent="onSubmit()" :class="{ 'has-error': failed }">
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="input-username">Username</label>
        </div>
        <div class="col-9 col-sm-12">
          <input
            type="text"
            id="input-username"
            class="form-input"
            v-model="username"
          />
        </div>
      </div>
      <div class="form-group">
        <div class="col-3 col-sm-12">
          <label class="form-label" for="input-password">Password</label>
        </div>
        <div class="col-9 col-sm-12">
          <input
            type="password"
            id="input-password"
            class="form-input"
            v-model="password"
          />
          <p v-if="failed" class="form-input-hint">
            Username and/or password incorrect.
          </p>
        </div>
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        :class="{ loading: loading }"
      >
        Login
      </button>
    </form>
  </div>
</template>

<script>
import apiservice from "../apiservice/apiservice";
import sha256 from "tiny-hashes/sha256";

export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      failed: false,
      loading: false
    };
  },
  methods: {
    onSubmit() {
      this.loading = true;
      apiservice
        .post("/admin/login/", {
          username: this.username,
          password: this.hash(this.password)
        })
        .then(resp => {
          const token = resp.data.token;
          localStorage.setItem("user-token", token);
          // Add the following line:
          apiservice.defaults.headers.common["Authorization"] = token;
          this.$store.commit("misc/SET_CURRENT_USER", resp.data.user);
          this.$router.push("/");
        })
        .catch(() => {
          this.failed = true;
          this.password = "";
        })
        .finally(() => {
          this.loading = false;
        });
    },
    hash(value, retries) {
      const retries_ = retries || 3; //hashing fails sometimes
      let hashed_value;
      try {
        hashed_value = sha256(value);
      } catch (err) {
        hashed_value =
          retries_ > 0 ? this.hash(value, retries_ - 1) : "Error in sha256";
      }
      //hash funktion
      return hashed_value;
      //return secret
    }
  }
};
</script>

<style scoped></style>
