<template>
<b-container class="bv-example-row">
  <div class="mtlg_header">
    <div class="mtlg_heading"><h1>Edit Player</h1></div>
  </div>
  <b-row>
    <b-col sm="3">
      <label>Nickname:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localPlayer.nickname" type="text"></b-form-input>
    </b-col>
    <b-col sm="3">
      <label>Forename:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localPlayer.forename" type="text"></b-form-input>
    </b-col>
    <b-col sm="3">
      <label>Surname:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localPlayer.surname" type="text"></b-form-input>
    </b-col>
    <b-col sm="3">
      <label>Pseudonym:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localPlayer.pseudonym" type="text"></b-form-input>
    </b-col>
  </b-row>
  <b-row>
    <form class="form-horizontal" @submit.prevent="onSubmit">
      <button type="submit" class="btn btn-primary" :class="{ loading: saving }">
        Save
      </button>
      <router-link :to="{ name: 'Players' }" class="btn btn-link ml-1" tag="button">Back</router-link>
    </form>
  </b-row>
</b-container>
</template>

<script>
import {
  mapState
} from "vuex";

export default {
  name: "PlayerEdit",
  components: {
  },
  data() {
    return {
      localPlayer: {},
      saving: false,
      loading: false,
      success: false
    };
  },
  created() {
    this.fetchData(this.$route.params.player);
  },
  watch: {
    player: "setLocalPlayer"
  },
  computed: {
    ...mapState("players", ["player"])
  },
  methods: {
    onSubmit() {
      this.saving = true;
      this.$store
        .dispatch("players/PUT_PLAYER", this.localPlayer)
        .then(() => {
          this.saving = false;
          this.success = true;
          this.$router.push({name: 'Players'})
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetchData(player) {
      if (
        !player ||
        player.__fetched < Date.now() - this.app_config._cache_timeout
      ) {
        this.loading = true;
        this.$store
          .dispatch("players/GET_PLAYER", this.$route.params.pseudonym)
          .then(() => {
            this.loading = false;
          });
      } else {
        this.$store.commit("players/SET_PLAYER", player);
      }
    },
    setLocalPlayer() {
      this.localPlayer = {
        ...this.player
      };
    }
  }
};
</script>
