<template lang="html">
  <div class="">
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Players Overview</h1></div>
      <div class="mtlg_actions">
        <router-link :to="{ name: 'PlayerNew' }" class="btn btn-primary"><i class="icon icon-plus"></i> Add Player</router-link>
        <router-link :to="{ name: 'PlayersNew' }" class="btn btn-primary"><i class="icon icon-plus"></i> Add multiple Players</router-link>
      </div>
    </div>
  <b-table striped hover :items="filteredList" :fields="fields">
    <template #top-row="">
        <b-th><b-form-input v-model="search.nickname" size="sm" placeholder="Search Player by nickname"></b-form-input></b-th>
        <b-th><b-form-input v-model="search.forename" size="sm" placeholder="Search Player by nickname"></b-form-input></b-th>
        <b-th><b-form-input v-model="search.surname" size="sm" placeholder="Search Player by nickname"></b-form-input></b-th>
        <b-th><b-form-input v-model="search.pseudonym" size="sm" placeholder="Search Player by nickname"></b-form-input></b-th>
        <b-th></b-th>
    </template>
    <template v-slot:cell(actions)="data">
      <b-button pill variant="outline-success" :to="{name: 'PlayerEdit', params: {player: data.item, pseudonym: data.item.pseudonym}}">Edit</b-button>
      <b-button pill variant="outline-success" :to="{name: 'PlayerDetail', params: {player: data.item, pseudonym: data.item.pseudonym}}">View</b-button>
      <DeleteButton @deleteAction="deletePlayerAction(data.item.pseudonym)"></DeleteButton>
    </template>
  </b-table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DeleteButton from "../../components/DeleteButton";
export default {
  name: "Players",
  components: {DeleteButton},
  data () {
    return {
      search: {
        nickname: "",
        forename: "",
        surname: "",
        pseudonym: ""
      },
      fields: [{
        key: 'nickname',
        label: 'Nickname',
        sortable: true
      },
      {
        key: 'forename',
        label: 'Forename',
        sortable: true
      },
      {
        key: 'surname',
        label: 'Surname',
        sortable: true
      },
      {
        key: 'pseudonym',
        label: 'Pseudonym'
      },
      "Actions"
    ]
    }
  },
  mounted() {
    this.$store.dispatch("players/GET_PLAYERS");
  },
  computed: {
    ...mapState("players", ["players"]),
    filteredList() {
      return this.players.filter(player => {
        return player.nickname.toLowerCase().includes(this.search.nickname.toLowerCase()) &&
            player.forename.toLowerCase().includes(this.search.forename.toLowerCase()) &&
            player.surname.toLowerCase().includes(this.search.surname.toLowerCase()) &&
            player.pseudonym ? player.pseudonym.toLowerCase().includes(this.search.pseudonym.toLowerCase()) : true
      })
    }
  },
  methods: {
    deletePlayerAction(pseudonym) {
      this.$store.dispatch("players/DESTROY_PLAYER", pseudonym);
    }
  }
}
</script>

<style lang="css" scoped>
</style>
