<template>
<b-container class="bv-example-row">
  <div class="mtlg_header">
    <div class="mtlg_heading"><h1>Player Detail</h1></div>
  </div>
  <b-row>
    <b-col sm="3">
      <label>Nickname:</label>
    </b-col>
    <b-col sm="9">
      {{ player.nickname }}
    </b-col>
    <b-col sm="3">
      <label>Forename:</label>
    </b-col>
    <b-col sm="9">
      {{ player.forename }}
    </b-col>
    <b-col sm="3">
      <label>Surname:</label>
    </b-col>
    <b-col sm="9">
      {{ player.surname }}
    </b-col>
    <b-col sm="3">
      <label>Pseudonym:</label>
    </b-col>
    <b-col sm="9">
      {{ player.pseudonym }}
    </b-col>
  </b-row>
  <router-link :to="{ name: 'Players' }" class="btn btn-danger" tag="button">Back</router-link>
</b-container>
</template>

<script>
import {
  mapState
} from "vuex";

export default {
  name: "PlayerDetail",
  computed: {
    ...mapState("players", ["player"])
  },
  created() {
    this.fetchData(this.$route.params.player);
  },
  methods: {
    fetchData(player) {
      if (
        !player ||
        player.__fetched < Date.now() - this.app_config._cache_timeout
      ) {
        this.loading = true;
        this.$store
          .dispatch("players/GET_PLAYER", this.$route.params.pseudonym)
          .then(() => {
            this.loading = false;
          });
      } else {
          this.$store.commit("players/SET_PLAYER", player);
      }
    },
  },
}
</script>

<style lang="css" scoped>
</style>
