<template lang="html">
  <b-container class="bv-example-row">

    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Create Player</h1></div>
    </div>
    <b-alert :show="showAlertBool" :variant="alertVariant" dismissible>{{ alertMessage }}</b-alert>
    <b-row>
      <b-col sm="3">
        <label>Nickname:</label>
      </b-col>
      <b-col sm="9">
        <b-form-input v-model="localPlayer.nickname" type="text"></b-form-input>
      </b-col>
      <b-col sm="3">
        <label>Forename:</label>
      </b-col>
      <b-col sm="9">
        <b-form-input v-model="localPlayer.forename" type="text"></b-form-input>
      </b-col>
      <b-col sm="3">
        <label>Surname:</label>
      </b-col>
      <b-col sm="9">
        <b-form-input v-model="localPlayer.surname" type="text"></b-form-input>
      </b-col>
    </b-row>
    <b-row>
      <form class="form-horizontal" @submit.prevent="onSubmit">
        <button type="submit" class="btn btn-primary" :class="{ loading: saving }">
          Save
        </button>
        <router-link :to="{ name: 'Players' }" class="btn btn-link ml-1" tag="button">Back</router-link>
      </form>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: "PlayerNew",
  data() {
    return {
      localPlayer: {

      },
      saving: false,
      success: false,
      loading: false,
      alertMessage: "",
      showAlertBool: false,
      alertVariant: 'danger'
    }
  },
  methods: {
    onSubmit() {
      this.saving = true;
      this.$store
        .dispatch("players/PUT_PLAYER", this.localPlayer)
        .then((data) => {
          this.saving = false;
          this.success = true;
          this.$router.push({name: 'Players'})
        })
        .catch(error => {
          this.showAlert(error.response.data.error, 'danger');
        })
    },
    showAlert(message, variant = 'danger') {
      this.alertMessage = message;
      this.alertVariant = variant;
      this.showAlertBool = true;
    }
  }
}
</script>

<style lang="css" scoped>
</style>
