<template>
  <div>
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Create Players</h1></div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Nickname</th>
          <th>Forename</th>
          <th>Surname</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(localPlayer, i) in localPlayers" :key="i">
          <td>
            <b-form-input v-model="localPlayer.nickname"></b-form-input>
          </td>
          <td>
            <b-form-input v-model="localPlayer.forename"></b-form-input>
          </td>
          <td>
            <b-form-input v-model="localPlayer.surname"></b-form-input>
          </td>
          <td>
            <b-button variant="danger" @click="deleteLocalPlayer(i)"
              >X</b-button
            >
          </td>
        </tr>
        <tr>
          <td>
            <b-form-input
              v-model="localPlayer.nickname"
              placeholder="Enter new nickname"
            ></b-form-input>
          </td>
          <td>
            <b-form-input
              v-model="localPlayer.forename"
              placeholder="Enter new forename"
            ></b-form-input>
          </td>
          <td>
            <b-form-input
              v-model="localPlayer.surname"
              placeholder="Enter new surname"
            ></b-form-input>
          </td>
          <td>
            <b-button variant="success" @click="addPlayer">New</b-button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <b-button variant="success" @click="savePlayers">Save</b-button>
      <router-link :to="{ name: 'Players' }" class="btn btn-link ml-1" tag="button">Back</router-link>
    </div>
  </div>
</template>
<script>
import DeleteButton from "../../components/DeleteButton";

export default {
  name: "PlayersNew",
  components: {},
  data() {
    return {
      localPlayers: [],
      localPlayer: {
        login_method: '',
        login_value:''},
      saving: false,
      success: false,
      loading: false
    };
  },
  methods: {
    addPlayer() {
      this.localPlayers.push(this.localPlayer);
      this.localPlayer = {
        login_method: '',
        login_value:''
      };
    },
    deleteLocalPlayer(index) {
      this.localPlayers.slice(index);
    },
    savePlayers() {
      this.saving = true;
      const players = this.localPlayers.slice();
      if(this.localPlayer.nickname !== '' || this.localPlayer.forename !== '' || this.localPlayer.surname !== '') {
        players.push(this.localPlayer);
      }
      this.$store
          .dispatch("players/POST_PLAYERS", players)
          .then(() => {
            this.saving = false;
            this.success = true;
            this.$router.push({name: 'Players'})
          })
          .catch(error => {
            console.log(error);
          });
    }
  }
};
</script>
