<template>
  <div id="app" class="container">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand to="/">Identity Server</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav v-if="currentUser.username">
        <b-navbar-nav>
          <b-nav-item to="/games">Games</b-nav-item>
          <b-nav-item to="/loginMethods">Login Methods</b-nav-item>
          <b-nav-item to="/players">Players</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown :text="$t('languagePickerHelper')" right>
            <b-dropdown-item
              v-for="(lang, index) in languages"
              :key="`lang${index}`"
              @click="changeLanguage(lang)"
              >{{ lang.title }}</b-dropdown-item
            >
          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template v-slot:button-content>
              <em>User</em>
            </template>
            <b-dropdown-item @click="doLogout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
      <b-collapse id="nav-collapse" is-nav v-else>
        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown :text="$t('languagePickerHelper')" right>
            <b-dropdown-item
              v-for="(lang, index) in languages"
              :key="`lang${index}`"
              @click="changeLanguage(lang)"
              >{{ lang.title }}</b-dropdown-item
            >
          </b-nav-item-dropdown>

          <b-nav-item :to="{ name: 'Login' }">Login</b-nav-item>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <div class="columns">
      <router-view />
    </div>
  </div>
</template>
<script>
import apiservice from "./apiservice/apiservice";
import { mapState, mapGetters } from "vuex";
export default {
  name: "app",
  components: {},
  computed: {
    ...mapState("misc", ["currentUser"]),
    ...mapGetters("language", ["languages"])
  },
  created() {
    // this.$store.dispatch('misc/GET_CURRENT_USER')
  },
  methods: {
    doLogout() {
      apiservice.delete("/admin/login/").then(() => {
        localStorage.removeItem("user-token");
        delete apiservice.defaults.headers.common["Authorization"];
        this.$store.commit("misc/REMOVE_CURRENT_USER");
        this.$router.push("/login");
      });
    },
    changeLanguage(lang) {
      this.$i18n.locale = lang.value;
      this.$store.dispatch("language/setLanguage", lang.value);
    }
  },
  mounted() {
    // Clear the browser cache data in localStorage when closing the browser window
    window.onbeforeunload = function(e) {
      //localStorage.clear() // TODO: is this desired?
    };
  }
};
</script>
<style>
.myButton_right {
  float: right;
}

.mtlg_header {
  margin-top: 20px;
  height: 66px;
}

.mtlg_heading {
  display: block;
  text-align: left;
  float: left;
}

.mtlg_actions {
  display: block;
  text-align: right;
  padding: 7px;
}

.mtlg_actions a {
  min-width: 170px;
  margin: 7px;
}
</style>
