<template>
    <span>
        <button class="btn btn-link ml-1" @click="goBack">Back</button>
    </span>
</template>
<script>
  export default {
    name: 'BackHistoryButton',
    methods: {
      goBack() {
        return this.$router.go(-1);
      }
    }
  }
</script>
