<template>
  <router-link :to="routerOptions" class="btn btn-link ml-1" tag="button">Back
  </router-link>
</template>
<script>
    export default {
        name: "BackButton",
        props: {
            routerOptions: {}
        }
    }
</script>
