<template>
<span>
  <b-button @keydown.esc="leaveDeleteState" @focusout="leaveDeleteState" variant="danger" :class="{'btn-error': deleteState, loading: loading}" @click="onClick">
    <span v-if="deleteState">Delete</span>
    <span v-else>X</span>
    <!--TODO does not work! <b-icon icon="trash-fill" aria-hidden="true"></b-icon> -->
  </b-button>
</span>
</template>
<script>
import {
  EventBus
} from "../eventbus";

export default {
  name: 'DeleteButton',
  props: ['additionalClasses'],
  data() {
    return {
      deleteState: false,
      loading: false,
    }
  },
  created() {
    // style="width: 5em"
    // TODO: remove listener?
    EventBus.$on('esc_pressed', () => {
      this.deleteState = false;
    })
  },
  methods: {
    onClick() {
      if (!this.deleteState) {
        this.deleteState = true
      } else {
        this.loading = true;
        this.$emit('deleteAction')
      }
    },
    leaveDeleteState() {
      this.deleteState = false
    }
  }
}
</script>
