<template>
  <b-container class="bv-example-row">
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Edit Login Method</h1></div>
    </div>
    <b-row>
      <b-col sm="3">
        <label>Name:</label>
      </b-col>
      <b-col sm="9">
        <b-form-input v-model="localMethod.name" type="text"></b-form-input>
      </b-col>
      <b-col sm="3">
        <label>Description:</label>
      </b-col>
      <b-col sm="9">
        <b-form-textarea v-model="localMethod.description" type="text"></b-form-textarea>
      </b-col>
    </b-row>
    <b-row>
      <form class="form-horizontal" @submit.prevent="onSubmit">
        <pulse-loader :loading="saving" color="black"></pulse-loader>
        <button type="submit" class="btn btn-primary" :class="{ loading: saving }">
          Save
        </button>
        <router-link :to="{ name: 'LoginMethods' }" class="btn btn-link ml-1" tag="button">Back</router-link>
      </form>
    </b-row>
  </b-container>
</template>

<script>
import {
  mapState
} from "vuex";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue'

export default {
  name: "LoginMethodsEdit",
  components: {'pulse-loader': PulseLoader},
  data() {
    return {
      localMethod: {},
      saving: false,
      loading: false,
      success: false
    };
  },
  created() {
    this.fetchData(this.$route.params.loginMethod);
  },
  computed: {
    ...mapState("loginMethods", ["loginMethod"]),
  },
  watch: {
    loginMethod: "setLocalMethod"
  },
  methods: {
    onSubmit() {
      this.saving = true;
      this.$store
          .dispatch("loginMethods/PUT_LOGIN_METHOD", this.localMethod)
          .then(() => {
            this.saving = false;
            this.success = true;
            this.$router.push({name: 'LoginMethods'})
          })
          .catch(error => {
            this.saving = false;
            console.log(error);
          });
    },
    fetchData(loginMethod) {
      if (
          !loginMethod ||
          loginMethod.__fetched < Date.now() - this.app_config._cache_timeout
      ) {
        this.loading = true;
        this.$store
            .dispatch("loginMethods/GET_LOGIN_METHOD", this.$route.params.loginMethodId)
            .then(() => {
              this.loading = false;
            });
      } else {
        this.$store.commit("loginMethods/SET_LOGIN_METHOD", loginMethod);
      }
    },
    setLocalMethod() {
      this.localMethod = {
        ...this.loginMethod
      };
    }
  }
};
</script>
