<template>
  <div class="column">
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Login Methods</h1></div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="loginMethod in loginMethods" :key="loginMethod.uuid">
        <td>{{ loginMethod.name }}</td>
        <td>
          {{ loginMethod.description }}
        </td>
        <td>
          <router-link
              :to="{
                name: 'LoginMethodsEdit',
                params: { loginMethodId: loginMethod.uuid, loginMethod: loginMethod }
              }"
              class="btn btn-primary"
          >Edit
          </router-link
          >
          <DeleteButton @deleteAction="deleteLoginMethodAction(loginMethod.uuid)"></DeleteButton>
        </td>
      </tr>
      <tr>
        <td>
          <b-form-input v-model="localLoginMethod.name" placeholder="Enter new name"></b-form-input>
        </td>
        <td>
          <b-form-textarea v-model="localLoginMethod.description" placeholder="Enter description"></b-form-textarea>
        </td>
        <td>
          <b-button variant="success" @click="saveLoginMethod">New</b-button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import {mapState} from "vuex";
import DeleteButton from "../../components/DeleteButton";

export default {
  name: "LoginMethods",
  components: {DeleteButton},
  data() {
    return {
      localLoginMethod: {
        name: "",
        description: ""
      }
    };
  },
  mounted() {
    this.$store.dispatch("loginMethods/GET_LOGIN_METHODS");
  },
  computed: {
    ...mapState("loginMethods", ["loginMethods"])
  },

  methods: {
    deleteLoginMethodAction(loginMethodId) {
      this.$store.dispatch("loginMethods/DESTROY_LOGIN_METHOD", loginMethodId)
    },
    saveLoginMethod() {
      this.$store.dispatch("loginMethods/POST_LOGIN_METHOD", this.localLoginMethod).then(() => {
        this.localLoginMethod = {
          name: "",
          description: ""
        }
      });
    }
  }
};
</script>

<style scoped></style>
