<template>
  <div class="column">
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Games</h1></div>
      <div class="mtlg_actions">
        <router-link :to="{ name: 'GameNew' }" class="btn btn-primary"><i class="icon icon-plus"></i> Add Game</router-link>
        <router-link :to="{ name: 'StandardConfig' }" class="btn btn-primary"><i class="icon icon-plus"></i>Change Standard Config</router-link>
      </div>
    </div>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Id</th>
          <th>Description</th>
          <th>actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="game in games" :key="game.uuid">
          <td>{{ game.name }}</td>
          <td>
            {{ game.uuid }}
            <br />
            <small>Created {{ game.created_at | formatDate }}</small>
          </td>
          <td>
            {{ game.description }}
          </td>
          <td>
            <router-link
              :to="{
                name: 'GameEdit',
                params: { gameId: game.uuid, game: game }
              }"
              class="btn btn-primary"
              >Edit</router-link
            >
            <router-link
              :to="{
                name: 'GameDetail',
                params: { gameId: game.uuid, game: game }
              }"
              class="btn btn-primary"
              >View</router-link
            >
            <DeleteButton @deleteAction="deleteGameAction(game.uuid)"></DeleteButton>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapState } from "vuex";
import DeleteButton from "../../components/DeleteButton";

export default {
  name: "Games",
  components: {DeleteButton},
  data() {
    return {};
  },
  mounted() {
    this.$store.dispatch("games/GET_GAMES");
  },
  computed: {
    ...mapState("games", ["games"])
  },

  methods: {
    deleteGameAction(gameId) {
      this.$store.dispatch("games/DESTROY_GAME", gameId);
    }
  }
};
</script>

<style scoped></style>
