<template>
<b-container class="bv-example-row">
  <div class="mtlg_header">
    <div class="mtlg_heading"><h1>Game Edit</h1></div>
  </div>
  <b-row>
    <b-col sm="3">
      <label>Game UUID:</label>
    </b-col>
    <b-col sm="9">
      {{ localGame.uuid }}
      <!-- <b-form-input v-model="game.uuid" type="text"></b-form-input> -->
    </b-col>
    <b-col sm="3">
      <label>Game name:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localGame.name" type="text"></b-form-input>
    </b-col>
    <b-col sm="3">
      <label>Game description:</label>
    </b-col>
    <b-col sm="9">
      <b-form-textarea v-model="localGame.description" type="text"></b-form-textarea>
    </b-col>
  </b-row>
  <h3>Config</h3>
  <b-row>
    <b-col sm="3">
      <label>Login methods:</label>
    </b-col>
    <b-col sm="9">
      <b-form-checkbox-group
        id="login_methods"
        v-model="localGame.config.login_methods"
        :options="optionsLoginMethods"
        name="flavour-1"
      ></b-form-checkbox-group>
    </b-col>
    <b-col sm="3">
      <label>List names:</label>
    </b-col>
    <b-col sm="9">
      <b-form-checkbox v-model="localGame.config.listable_names" name="listable_names">
      </b-form-checkbox>
    </b-col>
    <b-col sm="3">
      <label>List pseudonyms:</label>
    </b-col>
    <b-col sm="9">
      <b-form-checkbox v-model="localGame.config.listable_pseudonyms" name="listable_pseudonyms">
      </b-form-checkbox>
    </b-col>

  </b-row>
  <b-row>
    <form class="form-horizontal" @submit.prevent="onSubmit">
      <button type="submit" class="btn btn-primary" :class="{ loading: saving }">
        Save
      </button>
      <router-link :to="{ name: 'Games' }" class="btn btn-link ml-1" tag="button">Back</router-link>
    </form>
  </b-row>
</b-container>
</template>

<script>
import {
  mapState
} from "vuex";

import config from "@/apiservice/config";

export default {
  name: "GameEdit",
  components: {
    // GameFields,
    // FlashMessage
  },
  data() {
    return {
      localGame: {
        config: {
          login_methods: [],
          listable_names: false,
          listable_pseudonyms: false
        }
      },
      saving: false,
      loading: false,
      success: false
    };
  },
  created() {
    this.localGame = this.game;
    this.fetchData(this.$route.params.game);
    this.$store.dispatch("loginMethods/GET_LOGIN_METHODS")
  },
  watch: {
    game: "setLocalGame"
  },
  computed: {
    ...mapState("games", ["game"]),
    ...mapState("loginMethods", ["loginMethods"]),
    optionsLoginMethods() {
      return this.loginMethods.map((loginMethod) => {
        return {
          value: loginMethod.name,
          text: loginMethod.name
        }
      })
    }
  },
  methods: {
    onSubmit() {
      this.saving = true;
      this.$store
        .dispatch("games/PUT_GAME", this.localGame)
        .then(() => {
          this.saving = false;
          this.success = true;
          this.$router.push({name: 'Games'})
        })
        .catch(error => {
          console.log(error);
        });
    },
    fetchData(game) {
      if (
        !game ||
        game.__fetched < Date.now() - this.app_config._cache_timeout
      ) {
        this.loading = true;
        this.$store
          .dispatch("games/GET_GAME", this.$route.params.gameId)
          .then(() => {
            this.loading = false;
          });
      } else {
        if (!game.config) {
          this.$store
            .dispatch("games/GET_CONFIG", game)
            .then(() => {
              this.loading = false;
            });
        } else {
          this.$store.commit("games/SET_GAME", game);
        }
      }
    },
    setLocalGame() {
      this.localGame = {
        ...this.game
      };
    }
  }
};
</script>
