<template>
<b-container class="bv-example-row">
  <div class="mtlg_header">
    <div class="mtlg_heading"><h1>Game New</h1></div>
  </div>
  <b-row>
    <b-col sm="3">
      <label>Game UUID:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localGame.uuid" type="text"></b-form-input>
    </b-col>
    <b-col sm="3">
      <label>Game name:</label>
    </b-col>
    <b-col sm="9">
      <b-form-input v-model="localGame.name" type="text"></b-form-input>
    </b-col>
    <b-col sm="3">
      <label>Game description:</label>
    </b-col>
    <b-col sm="9">
      <b-form-textarea v-model="localGame.description" type="text"></b-form-textarea>
    </b-col>
  </b-row>
  <h3>Config</h3>
  <b-row>
    <b-col sm="3">
      <label>Login methods:</label>
    </b-col>
    <b-col sm="9">
      <b-form-checkbox-group
        id="login_methods"
        v-model="localGame.config.login_methods"
        :options="optionsLoginMethods"
        name="flavour-1"
      ></b-form-checkbox-group>
    </b-col>
    <b-col sm="3">
      <label>List names:</label>
    </b-col>
    <b-col sm="9">
      <b-form-checkbox v-model="localGame.config.listable_names" name="listable_names">
      </b-form-checkbox>
    </b-col>
    <b-col sm="3">
      <label>List pseudonyms:</label>
    </b-col>
    <b-col sm="9">
      <b-form-checkbox v-model="localGame.config.listable_pseudonyms" name="listable_pseudonyms">
      </b-form-checkbox>
    </b-col>
    <!-- <b-col sm="3">
      <label>Players:</label>
    </b-col>
    <b-col sm="9">
      <b-form-select v-model="localGame.players" :options="optionsPlayers" multiple :select-size="4"></b-form-select>
    </b-col> -->

  </b-row>
  <b-row>
    <form class="form-horizontal" @submit.prevent="onSubmit">
      <button type="submit" class="btn btn-primary" :class="{ loading: saving }">
        Save
      </button>
      <router-link :to="{ name: 'Games' }" class="btn btn-link ml-1" tag="button">Back</router-link>
    </form>
  </b-row>
</b-container>
</template>
<script>
// import FlashMessage from "../../components/FlashMessage";
// import GameFields from "../../components/GameFields";
import {
  mapState
} from "vuex";
import config from "@/apiservice/config";

export default {
  name: "GameNew",
  components: {
    // GameFields,
    // FlashMessage
  },
  data() {
    return {
      localGame: {
        name: "",
        description: "",
        config: {
          login_methods: [],
          listable_names: false,
          listable_pseudonyms: false
        },
        players: []
      },
      saving: false,
      loading: false,
      success: false
    };
  },
  watch: {},
  mounted() {
    this.$store.dispatch("players/GET_PLAYERS");
    this.$store.dispatch("loginMethods/GET_LOGIN_METHODS")
    config.getStandard().then((standardConfig) => {
      this.localGame.config = standardConfig;
    })
  },
  computed: {
    ...mapState("players", ["players"]),
    ...mapState("loginMethods", ["loginMethods"]),
    optionsPlayers() {
      return this.players.map((player) => {
        return {
          value: player.pseudonym,
          text: this.getDisplayName(player)
        }
      })
    },
    optionsLoginMethods() {
      return this.loginMethods.map((loginMethod) => {
        return {
          value: loginMethod.name,
          text: loginMethod.name
        }
      })
    }
  },
  methods: {
    getDisplayName(player) {
      let name = "";
      if (!player.nickname) {
        name = "none"
      } else {
        name = player.nickname
      }
      if (player.foreame || player.surname) {
        name += " (" + player.forename + " " + player.surname + ")"
      }
      return name
    },
    onSubmit() {
      this.saving = true;
      this.$store
        .dispatch("games/PUT_GAME", this.localGame)
        .then(() => {
          this.saving = false;
          this.success = true;

          this.$router.push({name: 'Games'})
        })
        .catch(error => {
          console.log(error);
        });
    },
    addLoginMethod() {
      this.localGame.config.login_methods.push("")
    },
    removeLoginMethod() {
      this.localGame.config.login_methods.pop()
    },
  }
};
</script>
