<template>
<b-container class="bv-example-row">
  <div class="mtlg_header">
    <div class="mtlg_heading"><h1>Game Detail</h1></div>
  </div>
  <b-row>
    <b-col sm="3">
      <label>Game UUID:</label>
    </b-col>
    <b-col sm="9">
      {{ game.uuid }}
      <!-- <b-form-input v-model="game.uuid" type="text"></b-form-input> -->
    </b-col>
    <b-col sm="3">
      <label>Game name:</label>
    </b-col>
    <b-col sm="9">
      {{ game. name }}
    </b-col>
    <b-col sm="3">
      <label>Game description:</label>
    </b-col>
    <b-col sm="9">
      {{ game.description }}
    </b-col>
  </b-row>
  <h3>Config</h3>
  <b-row>
    <b-col sm="3">
      <label>Login methods:</label>
    </b-col>
    <b-col sm="9">
      <b-list-group>
        <b-list-group-item v-for="(loginMethod, index) in game.config.login_methods" :key="'loginmethod_'+index" v-model="game.config.login_methods[index]" :id="'loginmethod_'+index" type="text">{{ loginMethod }}
        </b-list-group-item>
      </b-list-group>
    </b-col>
    <b-col sm="3">
      <label>List names:</label>
    </b-col>
    <b-col sm="9">
      <span v-if="game.config.listable_names">allowed</span>
      <span v-else>not allowed</span>
    </b-col>
    <b-col sm="3">
      <label>List pseudonyms:</label>
    </b-col>
    <b-col sm="9">
      <span v-if="game.config.listable_pseudonyms">allowed</span>
      <span v-else>not allowed</span>
    </b-col>

  </b-row>
  <b-row>
    <router-link :to="{ name: 'Games' }" class="btn btn-danger" tag="button">Back</router-link>
  </b-row>
</b-container>
</template>

<script>
import {
  mapState
} from "vuex";
// import DeleteButton from "../../components/DeleteButton";

export default {
  name: "GameDetail",
  // components: {DeleteButton},
  data() {
    return {};
  },
  computed: {
    ...mapState("games", ["game"])
  },
  created() {
    this.fetchData(this.$route.params.game);
  },
  methods: {
    fetchData(game) {
      if (
        !game ||
        game.__fetched < Date.now() - this.app_config._cache_timeout
      ) {
        this.loading = true;
        this.$store
          .dispatch("games/GET_GAME", this.$route.params.gameId)
          .then(() => {
            this.loading = false;
          });
      } else {
        if (!game.config) {
          this.$store
            .dispatch("games/GET_CONFIG", game)
            .then(() => {
              this.loading = false;
            });
        } else {
          this.$store.commit("games/SET_GAME", game);
        }
      }
    },
    addLoginMethod() {
      this.game.config.login_methods.push("")
    }
  }
};
</script>

<style scoped>
.chip {
  font-size: 80%;
}
</style>
