<template>
  <b-container class="bv-example-row">
    <div class="mtlg_header">
      <div class="mtlg_heading"><h1>Standard Configuration</h1></div>
    </div>

    <b-row>
      <b-col sm="3">
        <label>Login methods:</label>
      </b-col>
      <b-col sm="9">
        <b-form-checkbox-group
            id="login_methods"
            v-model="localConfig.login_methods"
            :options="optionsLoginMethods"
            name="flavour-1"
        ></b-form-checkbox-group>
      </b-col>
      <b-col sm="3">
        <label>List names:</label>
      </b-col>
      <b-col sm="9">
        <b-form-checkbox v-model="localConfig.listable_names" name="listable_names">
        </b-form-checkbox>
      </b-col>
      <b-col sm="3">
        <label>List pseudonyms:</label>
      </b-col>
      <b-col sm="9">
        <b-form-checkbox v-model="localConfig.listable_pseudonyms" name="listable_pseudonyms">
        </b-form-checkbox>
      </b-col>

    </b-row>
    <b-row>
      <form class="form-horizontal" @submit.prevent="onSubmit">
        <button type="submit" class="btn btn-primary" :class="{ loading: saving }">
          Save
        </button>
        <router-link :to="{ name: 'Games' }" class="btn btn-link ml-1" tag="button">Back</router-link>
      </form>
    </b-row>
  </b-container>
</template>

<script>
import {
  mapState
} from "vuex";
import config from "@/apiservice/config";

export default {
  name: "GameEdit",
  components: {
    // GameFields,
    // FlashMessage
  },
  data() {
    return {
      localConfig: {
        login_methods: [],
        listable_names: false,
        listable_pseudonyms: false
      },
      saving: false,
      loading: false,
      success: false
    };
  },
  mounted() {
    config.getStandard().then((standardConfig) => {
      this.localConfig = standardConfig;
    })
    this.$store.dispatch("loginMethods/GET_LOGIN_METHODS")
  },
  computed: {
    ...mapState("loginMethods", ["loginMethods"]),
    optionsLoginMethods() {
      return this.loginMethods.map((loginMethod) => {
        return {
          value: loginMethod.name,
          text: loginMethod.name
        }
      })
    }
  },
  methods: {
    onSubmit() {
      this.saving = true;
      config.putStandard(this.localConfig)
          .then(() => {
            this.saving = false;
            this.success = true;
            this.$router.push({name: 'Games'})
          })
          .catch(error => {
            console.log(error);
          });
    }
  }
};
</script>
